---
import { work } from '@/cv.json';
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <ol class='relative mt-16'>
    {
      work.map(({ title, company, description, startDate, endDate }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear = endDate ? new Date(endDate).getFullYear() : 'Actual';

        return (
          <li>
            <div class="md:space-x-4] relative mx-12 grid pb-12 before:absolute before:left-[-30px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10">
              <div class='relative pb-12 md:col-span-2'>
                <div class='sticky top-0'>
                  <span class='text-primary absolute -left-[43px] rounded-full text-5xl'>
                    &bull;
                  </span>
                  <h3 class='text-primary text-xl font-bold'>{title}</h3>
                  <h4 class='text-xl font-semibold'>{company}</h4>
                  <div class='text-muted-foreground m-0 p-0 text-sm'>
                    <time datetime={startDate}>{startYear}</time>
                    {' - '}
                    <time datetime={endDate}>{endYear}</time>
                  </div>
                </div>
              </div>
              <div class='text-muted-foreground relative flex flex-col gap-2 pb-4 md:col-span-3'>
                {description}
              </div>
            </div>
          </li>
        );
      })
    }
  </ol>
</Layout>
