---
import LinkButton from '@components/ui/link-button.astro';
import GithubIcon from '@icons/github-icon.astro';
import JavaScriptIcon from '@icons/java-script-icon.astro';
import LinkIcon from '@icons/link-icon.astro';
import NextJSIcon from '@icons/nextjs-icon.astro';
import NpmIcon from '@icons/npm-icon.astro';
import ReactIcon from '@icons/react-icon.astro';
import TailwindIcon from '@icons/tailwind-icon.astro';
import TypeScriptIcon from '@icons/typescript-icon.astro';
import { cn } from '@lib/utils';

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: TailwindIcon,
  },
  REACT: {
    name: 'React',
    class: 'bg-blue-700 text-white',
    icon: ReactIcon,
  },
  JAVASCRIPT: {
    name: 'JavaScript',
    class: 'bg-amber-700 text-white',
    icon: JavaScriptIcon,
  },
  TYPESCRIPT: {
    name: 'TypeScript',
    class: 'bg-blue-900 text-white',
    icon: TypeScriptIcon,
  },
};

interface Project {
  title: string;
  description: string;
  image: string;
  link?: string;
  github: string;
  npm?: string;
  tags: (typeof TAGS)[keyof typeof TAGS][];
}

const PROJECTS: Project[] = [
  {
    title: 'create-javalce-app - A CLI to create projects from templates',
    description:
      'Un CLI para crear proyectos a partir de plantillas de Next.js, React, etc. preconfiguradas con mi configuraci칩n de ESLint y Prettier. Adem치s, tiene la posibilidad de utilizar Tailwind CSS y siempre con TypeScript.',
    image: '/projects/create-javalce-app.webp',
    npm: 'https://www.npmjs.com/package/create-javalce-app',
    github: 'https://github.com/javalce/create-javalce-app',
    tags: [TAGS.JAVASCRIPT, TAGS.TYPESCRIPT, TAGS.NEXT, TAGS.REACT],
  },
  {
    title: '@javalce/prettier-config - My personal Prettier configuration',
    description:
      'Mi configuraci칩n personal de Prettier para mis proyectos de JavaScript y TypeScript.',
    image: '/projects/prettier-config.webp',
    npm: 'https://www.npmjs.com/package/@javalce/prettier-config',
    github: 'https://github.com/javalce/prettier-config',
    tags: [TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
  },
  {
    title: '@javalce/eslint-config - My personal ESLint configuration',
    description:
      'Mi configuraci칩n personal de ESLint para mis proyectos de JavaScript, TypeScript, React y Next.js.',
    image: '/projects/eslint-config.webp',
    npm: 'https://www.npmjs.com/package/@javalce/eslint-config',
    github: 'https://github.com/javalce/eslint-config',
    tags: [TAGS.JAVASCRIPT, TAGS.TYPESCRIPT, TAGS.REACT, TAGS.NEXT],
  },
];
---

<div class='flex flex-col gap-y-16'>
  {
    PROJECTS.map(({ title, description, tags, image, link, github, npm }) => (
      <article class='group flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0'>
        <div class='w-full md:w-1/2'>
          <div class='relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-xl shadow-xl transition duration-500 ease-in-out sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <img
              class='h-56 w-full object-cover object-top transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
              src={image}
              alt={`Captura de pantalla del proyecto ${image}`}
              loading='lazy'
            />
          </div>
        </div>
        <div class='w-full md:w-1/2 md:max-w-lg'>
          <h3 class='text-2xl font-bold text-gray-100'>{title}</h3>
          <div class='mt-2 flex flex-wrap'>
            <ul class='mb-2 flex flex-row gap-x-2'>
              {tags.map((tag) => (
                <li>
                  <span class={cn('flex gap-x-2 rounded-full px-2 py-1 text-xs', tag.class)}>
                    <tag.icon class='size-4' />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class='mt-2 text-gray-400'>{description}</div>
            <footer class='mt-4 flex flex-wrap items-end justify-start gap-2'>
              <LinkButton href={github}>
                <GithubIcon class='size-6' />
                Ver en GitHub
              </LinkButton>
              {link && (
                <LinkButton href={link}>
                  <LinkIcon class='size-4' />
                  Ir a la web
                </LinkButton>
              )}
              {npm && (
                <LinkButton href={npm}>
                  <NpmIcon class='size-4 md:size-6' />
                  Ir a npm
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
