---
import type { HTMLAttributes } from 'astro/types';

import {
  BentoCard,
  BentoCardContent,
  BentoCardFooter,
  BentoCardTitle,
} from '@/components/ui/bento-card';
import Button from '@/components/ui/button.astro';
import { workExperience } from '@/data/work';

interface Props extends Pick<HTMLAttributes<'div'>, 'class'> {}

const { class: className } = Astro.props;
---

<BentoCard class={className}>
  <BentoCardContent>
    <BentoCardTitle>Experiencia</BentoCardTitle>
    <div class='mt-4 space-y-2'>
      {
        workExperience.slice(0, 3).map(({ title, company, startDate, endDate }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear = endDate !== null ? new Date(endDate).getFullYear() : 'Actual';

          return (
            <article>
              <h3 class='text-lg font-semibold'>{title}</h3>
              <p class='text-accent-foreground'>{company}</p>
              <div class='m-0 p-0 text-sm text-muted-foreground'>
                <time datetime={startDate}>{startYear}</time>
                {' - '}
                <time datetime={endDate}>{endYear}</time>
              </div>
            </article>
          );
        })
      }
    </div>
  </BentoCardContent>
  <BentoCardFooter>
    <Button variant='link' href='/experience'>Ver más</Button>
  </BentoCardFooter>
</BentoCard>
